<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">CONTACTOS</h1>
            <h3 class="mb-5">
                <em>Guarda tus contactos favoritos</em>
            </h3>
            <a href="/signup" class="btn btn-primary">
                Comienza creado una cuenta
            </a>
        </div>
    </header>
</main>